/*
author: langenhagen
version: 170603
*/

html,body,#wrapper {
    margin: 20px;
}

.chart {
    font-family: Courier, sans-serif;
    font-size: 12px;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    pointer-events: none;
    position: absolute;
}

.vertical-line {
    stroke: #000;
    pointer-events: none;
    stroke-dasharray: 3 3;
}

.axis text {
    pointer-events: none;
}

.hoverRect {
    fill: #ffd;
    opacity: 1;
}

.hoverRect:hover {
    fill: yellow;
}

.bar-work {
    fill: #3399ff;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-education {
    fill:  #eebb00;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-language {
    fill: #009900;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-technology {
    fill: #ff0000;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.tick {
    stroke-width: 1;
}

#parent-div {
    //border: 3px solid magenta;
    position: sticky;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

#legendY-div {
    width: 220px;
    //border: 3px solid blue;
    float:left
/*    font-family: Courier, sans-serif;
    font-size: 12px;*/
}

#vertical-scroll-div {
    height: 600px;
    border: 3px solid brown;
    overflow-y: scroll;
/*    font-family: Courier, sans-serif;
    font-size: 12px;*/
}

#legendX-div {
    height: 200px;
    //border: 3px solid orange;
/*    font-family: Courier, sans-serif;
    font-size: 12px;*/
}

#gantt-div {
    //border: 3px solid red;
    overflow-y:auto;
    overflow-x:auto;
}

svg {
    //border: 3px solid green;
}

