/*
author: langenhagen
version: 170610
*/

html,body,#wrapper {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 20;
    margin-right: 25px;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
}

.chart {
    font-family: Courier, sans-serif;
    font-size: 12px;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    pointer-events: none;
    position: absolute;
}

.vertical-line {
    stroke: #000;
    pointer-events: none;
    stroke-dasharray: 3 3;
}

.axis text {
    pointer-events: none;
}

.hoverRect {
    fill: #ffd;
    opacity: 1;
}

.hoverRect:hover {
    fill: yellow;
}

.bar-work {
    fill: #4ECDC4;
    background: #4ECDC4;
    font-weight: bold;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-education {
    fill:  #FF6B6B;
    background: #FF6B6B;
    font-weight: bold;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-language {
    fill: #C7F464;
    background: #C7F464;
    font-weight: bold;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.bar-technology {
    fill: #556270;
    background: #556270;
    font-weight: bold;
    stroke: #000;
    stroke-width: 1;
    pointer-events: none;
}

.tick {
    stroke-width: 1;
}

#parent-div {
    //border: 3px solid magenta;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 50px;
    overflow: auto;
    font-family: 'Droid Sans', sans-serif;
}

#vertical-scroll-div {
    //border: 3px solid brown;
    height: 600px;
    overflow-y: scroll;
}

#legendX-div {
    //border: 3px solid purple;
    height: 60;
    overflow-x: auto;
    overflow-y: hidden;
}

#legendY-div {
    //border: 3px solid blue;
    float: left;
    font-size: 20px;
    display: inline-block;
}

#gantt-div {
    //border: 3px solid red;
    overflow-x:auto;
}

svg {
    //border: 3px solid green;
}
