/*
author: langenhagen
version: 19-12-28
*/

html,body {
    background: #F0F0F0;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
    stroke-width: 1;
}

#explain-text-div {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 20;
    margin-right: 25px;
}

#parent-div {
    //border: 3px solid magenta;
    background: #FFF;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
}

#scroll-container-div {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    position: absolute;
    min-height: 100%;
    cursor:move;
}

#scroll-div {
    //border: 3px solid red;
    display: inline-block;
}

#vertical-scroll-div {
    //border: 3px solid brown;
    height: 600px;
    position: static;
    overflow: hidden;
}

#legendX-div {
    //border: 3px solid purple;
    height: 50px;
    overflow: hidden;
}

#legendY-div {
    //border: 3px solid blue;
    float: left;
    display: inline-block;
}

#gantt-div {
    //border: 3px solid red;
    overflow:hidden;
}

svg {
    //border: 3px solid green;
    font-size: 20px;
}

.chart {
}

.text-entry {
    opacity: 1;
    font-size: 19px;
    fill: #FFF;
}

.axis text {
}

.hoverBar {
    fill: #888;
}

.bar-education {
    fill:  #e00;
    /*background: #f00;*/
    font-weight: bold;
    /*stroke: #000;*/
}

.bar-work {
    fill: #00f;
    /*background: #00f;*/
    font-weight: bold;
    /*stroke: #000;*/
}

.bar-language {
    fill: #808;
    /*background: #000;*/
    font-weight: bold;
    /*stroke: #000;*/
}

.bar-technology {
    fill: #080;
    /*background: #090;*/
    font-weight: bold;
    /*stroke: #000;*/
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    position: absolute;
}

.vertical-line {
    stroke: #000;
    pointer-events: none;
    stroke-dasharray: 3 3;
}

.tick {
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}
